@font-face {
    font-family: title-Font;
    src: url('./font/AlloyInk-nRLyO.ttf');
}

@font-face {
    font-family: button;
    src: url('./font/SnappyDresserRegular-L35nG.ttf');
}

:root {
    --background: #bde0fe;
    --button: #F5F3C1;
    --board: #ffafcc;
    --font: #0E8388;
    --font2: #393E46;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

#body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 2vh;
}

.start-buttons button {
    background-color: var(--button);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.start-buttons button:hover {
    transform: scale(1.1);
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 5vh
}

.game-title {
    font-size: 5rem;
    font-family: 'title-font', sans-serif;
    color: var(--font);
    margin: 20px;
}

#playerTurn {
    font-size: 20px;
    text-align: center;
    font-family: 'button', sans-serif;
    text-decoration: underline;
    margin: 0;

}

#tic-tac-toe-board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    flex: 1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    border-radius: 20px;
    background-color: var(--board);
    font-family: 'title-font';
    color: var(--font);
    transition: transform 0.2s ease-in-out;
}

.cell:hover {
    transform: scale(1.1);
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

#resetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 1.5em;
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: var(--font2);
    padding-top: 5px;
    font-family: 'button', sans-serif;
    transition: transform 0.2s ease-in-out;
}

#resetButton:hover {
    transform: scale(1.1);
}

#reviewButtons {
    display: flex;
    flex-direction: row;
}

button {
    width: 5em;
    height: 1.5em;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: var(--font2);
    padding-top: 5px;
    font-family: 'button', sans-serif;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #C1DEAE;
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    font-family: 'button', sans-serif;
    color: var(--font);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1vh;
}

.modal-buttons button {
    margin-right: 10px;
    width: 8em;
    height: 1.5em;
    background-color: var(--button);
    transition: transform 0.2s ease-in-out;
}

.modal-buttons button:hover {
    transform: scale(1.1);
}

.reviewMoveButtons {
    display: none;
}

#option {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
}

#option img {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#option img:hover {
    transform: scale(1.1);
}